h1 {
    font-size: 120px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

.carousel-item {
    height: 600px;
} 
.carousel-item img{
    height: 600px;
}