.suggestions {
    width: 200px;
    height: 400x;
    margin: 10px;
    background-color: lightgray;
    border: solid 1px red;
}

.suggestions:hover {                                                                                                                                                                                                                                                                                                                                                                   
    background-color: aqua;
}

.btn {
    color: red;
}

img {
    height: 200px;
}                  